name: Docker Build and Push

# 触发机制：当代码推送到 main 分支时触发
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. 检出代码
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 设置 Docker Buildx (支持更强大的构建功能)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. 登录 Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 4. 构建并推送到 Docker Hub
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # 使用 secrets 动态获取用户名，并匹配你刚建的仓库名 go-emby302
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/go-emby302:2.4.1
          # 开启缓存，让下次构建速度飞快
          cache-from: type=gha
          cache-to: type=gha,mode=max